
{% if request.user.is_authenticated %}
    <p>{{request.user}} </p>
    <a href='/logout'>Logout</a>
{% else %}
    <a href='/login'>Login</a>
{% endif %}


<hr>

<h1> My TODO list </h1>

<!-- Search form -->
<form method='get' >
    <input type='text' name='search-area' value ={{search_input}}>
    <input type ='submit' value="Search">
</form>

<br>

<a href='/task-create'>Add Task</a>

<table>
    <tr>
        <th>Item</th>
        <th> </th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}

    <tr>
        <td> {{ task.title }} </td>
        <td> <a href= "/task/{{task.id}}" > View </a> </td>
        <td> <a href= "/task-update/{{task.id}}" > Edit </a> </td>
        <td> <a href= "/task-delete/{{task.id}}" > Delete </a> </td>
    </tr>
    {% empty %}
    <h3>No tasks</h3>
    {% endfor %}

</table>